matplotlib
pandas
pandas-ta
spyder-kernels==2.4.*
scikit-learn
lightweight-charts
plotly
alpaca-py
python-binance
#conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
#python -m pip install "tensorflow<2.11"
#python -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"
# pip install -r requirements.txt
